@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg: rgb(253, 253, 253);
  --secondary: rgb(34, 40, 49);
  --primary: rgb(118, 171, 174);
  --light-primary: rgb(118, 171, 174, 0.6);
  --nomad-gray: rgb(241 245 249);
  --neutral:rgb(75 85 99);
  --main-boxShadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  
}

@media (prefers-color-scheme: dark) {
  :root {
  --main-bg: rgb(34, 40, 49);
  --secondary: rgb(253, 253, 253);
  --primary: rgb(118, 171, 174);
  --light-primary: rgb(118, 171, 174, 0.6);
  --nomad-gray: rgb(31 41 55);
  --neutral:rgb(156 163 175);
  --main-boxShadow:  0px 0px 4px 1px rgba(0, 0, 0, 0.1);

  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* for dark mode */
.dark {
  --main-bg: rgb(34, 40, 49);
  --secondary: rgb(253, 253, 253);
  --primary: rgb(118, 171, 174);
  --light-primary: rgba(118, 171, 174, 0.6);
  --nomad-gray: rgba(46, 56, 72, 0.5);
  --neutral:rgb(193 196 202);
  --main-boxShadow:  0px 0px 4px 1px rgba(0, 0, 0, 0.1);
}

/* for light mode */
.light {
  --main-bg: rgb(253, 253, 253);
  --secondary: rgb(34, 40, 49);
  --primary: rgb(118, 171, 174);
  --light-primary: rgb(118, 171, 174, 0.6);
  --nomad-gray: rgb(241 245 249);
  --neutral:rgb(75 85 99);
  --main-boxShadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
}

/* for range slider */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  background-color: gainsboro;
  height:26px;
  width:26px;   
  border-radius: 100%;
  cursor: pointer;

}